<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title> Our Model </title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

    <!--- Header  -->
    <section id ="header">
      <div class="header container"> 
        <div class="nav-bar">
          <div class="foot">
            <a href="index.html"> <h1>Western AI: <span> 2021 </span></h1></a>
          </div>
          <div class="nav-list">
            <div class="hamburger"> <div class="bar"> </div></div>
            <ul>
              <li><a href="Model.html"> Our Model</a></li>
              <li><a href="index.html">About Project</a></li>
              <li><a href="index.html">Bios</a></li>
  
            </ul>
          </div>
  
        </div>
      </div>
  
    </section>
    <!--- end of Header  -->
  
    <!--- Top Section -->
    <section id = "model_view">
      <div class="model container">
        <h1> Our Model </h1>
      </div>

    </section>

  <!--- End of Top Section -->
      <!--- About The Project Section -->
    <section id="showcase">
      <div class="showcase">
        <div class="showcase-top">
          <h1 class="section-title"> <span> Live ASL Translator: </span> </h1>
          <p>
          (text here is just placeholder) American Sign Language (ASL) is a natural language. It is the primary sign language used by the deaf and people with hearing impairment in the USA and Canada. American Sign Language is one of the most popular sign languages around the world. Although it contains the same alphabets as English, it is not a subset of the English language. Sentence formation or the sequence of words in a sentence is different in ASL as compared to English because of its unique grammar rules. ASL is considered to be a descendant of French Sign Language that is also influenced by Martha's Vineyard Sign Language and some other local sign languages. ASL uses the one-hand fingerspelling method for the English Alphabet.
          This WeCapable Tool easily converts English text into sign language symbols. This tool will be very useful for both teaching and learning American sign language.
          </p>
        </div>

    </section>
    <!--- End of About Project Section -->

    <section>
        <img id="bg" class="center" src="{{ url_for('video_feed') }}",  width="128" height="128"> 
        <h1 id = "letter_predicted" align="center"> Letter Predicted: </h1>
        <!-- code for displaying the current value of the letter variable every second-->
        <!-- <div id = "myDiv"><h1> ? </h1></div>-->
        <script>
          function myFunction() {
            const element = document.getElementById("letter_predicted")
            element.innerHTML = "Refreshing..." //default value to display when fetching
              fetch('/curr_letter') // fetching from the curr_letter app route
              .then(response => response.json())
              .then(json => element.innerHTML = json.letter) //this should get the letter variable
              .catch(error => console.error(error))
          }
          document.addEventListener("DOMContentLoaded", function(event) {
            setInterval(myFunction, 1000) // displaying the value of the letter variable every second (1000 milliseconds)
          })
        </script>
    </section>

    <!-- end of our live camera -->



    <!--- footer  -->
    <section id="footer"> 
      <div class="footer container">  
        <div class="foot">
        <h1> Western AI: <span>2021</span></h1>
        <h2> ASL Translator </h2>
        </div>
      </div>

    </section>

  <!--- End of footer -->


  <script src="../static/js/work.js"></script>
</body>

</html>